/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: "wght" var(--main-text-weight);
  background-image: var(--striped-gradient),
    repeating-linear-gradient(
      to bottom,
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(to bottom, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: transparent;
  cursor: pointer;
  border: 2px solid var(--head-color);
  position: relative;
}

.container__width {
  inline-size: var(--header-width);
}

.header {
  border: 2px solid var(--head-color);
  background-color: var(--bck-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-block-start: 100px;
  gap: 20px;
  padding-block: 130px;
  font-family: var(--second-font);
  color: var(--head-color);
  text-transform: uppercase;
}

.header__heading {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  line-height: 100%;
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  line-height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block-start: 95px;
  margin-block-end: 100px;
  font-size: 18px;
  gap: 50px;
}

.content__article {
  display: flex;
  flex-direction: column;
  background-color: var(--bck-color);
  inline-size: var(--header-width);
  border: 2px solid var(--head-color);
}

.article__title {
  font-family: var(--main-font);
  font-variation-settings: "wght" var(--header-text-weight);
  color: var(--head-color);
  line-height: 100%;
  vertical-align: middle;
  font-size: 18px;
  padding: 6px 11px;
}

.article__picture {
  display: flex;
  justify-content: center;
  position: relative;
}

.picture__image {
  display: block;
  inline-size: clamp(23.1875rem, 16.0352rem + 30.5164vw, 43.5rem);
  block-size: clamp(23.1875rem, 16.0352rem + 30.5164vw, 43.5rem);
  border-block: 2px solid var(--head-color);
  object-fit: cover;
}

.filter-contrast {
  filter: contrast(140%);
}

.filter-blur {
  filter: blur(3px);
}

.filter-grayscale-saturate {
  filter: grayscale(30%) saturate(50%);
}

.filter-saturate-brightness {
  filter: saturate(120%) brightness(130%);
}

.filter-saturate-contrast-rotate {
  filter: saturate(90%) contrast(70%) hue-rotate(125deg);
}

.filter-invert-contrast {
  filter: invert(40%) contrast(200%);
}

.filter-grayscale-blur {
  filter: grayscale(40%) blur(3px);
}

.filter-opacity-brightness-saturate {
  filter: opacity(0.9) brightness(170%) saturate(111%);
}

.label {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--second-font);
  color: var(--head-color);
  font-size: 14px;
  line-height: 100%;
  mix-blend-mode: hard-light;
  text-shadow: 
    1px 1px 0 rgba(var(--label-color), 0.5),
    -1px -1px 0 rgba(var(--label-color), 0.5),
    1px -1px 0 rgba(var(--label-color), 0.5),
    -1px 1px 0 rgba(var(--label-color), 0.5);
}

@supports (-webkit-text-stroke: 1px var(--label-color)) {
  .label {
    -webkit-text-stroke: 1px rgba(var(--label-color), 0.5);
    text-shadow: none;
  }
}

@supports (text-stroke: 1px rgba(var(--label-color), 0.5)) {
  .label {
    text-stroke: 1px rgba(var(--label-color), 0.5);
    text-shadow: none;
  }
}

.article__list {
  display: flex;
  flex-direction: column;
  margin: 28px 25px 0 26px;
  gap: 25px;
}

.list__item {
  color: var(--head-color);
  font-variation-settings: "wght" var(--main-text-weight);
  line-height: 21px;
  font-size: 18px;
}

.article__button-section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-block-start: 25px;
  gap: 7px;
  margin-inline-end: 25px;
  margin-block-end: 25px;
}

.card__like-button {
  transition: box-shadow 0.3s ease;
  inline-size: 130px;
  block-size: 38px;
  overflow: hidden;
}

.like-icon {
  flex-shrink: 0;
}

.contour {
  transition: fill 0.1s linear;
}

.core {
  transition: fill 0.3s linear 0.03s;
}

.main-body {
  transition: fill 0.3s linear;
}

.sparks {
  opacity: 0;
}

.like-icon:hover .core {
  fill: var(--head-color);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--head-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .core {
  fill: var(--contour-color);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--contour-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--contour-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--contour-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--contour-color);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: ChangeSize 0.3s ease-in 0.1s 1;
}

.like-icon.is-liked .sparks {
  animation: ChangeTransparent 0.3s ease-in 0.1s 1;
}

.card__like-button::before {
  content: "";
  display: block;
  inline-size: 100%;
  block-size: 100%;
  background-color: var(--head-color);
  transform: scaleX(0);
  transform-origin: left;
  left: 0;
  top: 0;
  position: absolute;
  transition: transform 0.5s ease-in-out;
}

.card__like-button:hover::before {
  transform: scaleX(1);
}

.card__like-button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 var(--head-color);
}

.card__icon-button {
  border-radius: 0;
  background-color: transparent;
  border: none;
  outline: 2px solid transparent;
  transition: outline-color 0.3s ease;
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
  border: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--head-color);
  outline-offset: 2px;
}

.button__text {
  font-family: var(--second-font);
  color: var(--bck-color);
  line-height: 90%;
  font-size: 14px;
  mix-blend-mode: difference;
  position: relative;
  z-index: 1;
}

.content__main-button {
  background-color: var(--bck-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  inline-size: clamp(19.125rem, 18.4868rem + 2.723vw, 20.9375rem);
  padding-block: 14px;
}

.content__main-button::before {
  content: "";
  display: block;
  inline-size: 100%;
  block-size: 100%;
  background-color: var(--head-color);
  transform: scaleX(0);
  transform-origin: left;
  left: 0;
  top: 0;
  position: absolute;
  transition: transform 0.5s ease-in-out;
  z-index: 0;
}

.content__main-button:hover::before {
  transform: scaleX(1);
}

.content__main-button:focus {
  outline: none;
  box-shadow: 2px 2px 0 var(--head-color);
}

.content_discet {
  inline-size: 21px;
  block-size: 21px;
  color: var(--bck-color);
  mix-blend-mode: difference;
  z-index: 1;
  flex-shrink: 0;
}

dialog {
  display: none;
  padding-inline-start: 28px;
  padding-block: 30px;
  padding-inline-end: 27px;
  flex-direction: column;
  gap: 30px;
  border: 2px solid var(--head-color);
  inline-size: clamp(21.3125rem, 21.0484rem + 1.1268vw, 22.0625rem);
}

dialog[open] {
  display: flex;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

dialog svg {
  flex-shrink: 0;
}

.container__paragraph {
  font-family: var(--second-font);
  color: var(--head-color);
  line-height: 150%;
  font-size: 14px;
  text-transform: uppercase;
}

.discet__container {
  display: flex;
  gap: 20px;
  align-items: center;
}

.button__casset {
  color: var(--bck-color);
  mix-blend-mode: difference;
  inline-size: 21px;
  block-size: 21px;
}

.dialog__casset {
  inline-size: 39px;
  block-size: 39px;
}

.discet__button {
  min-block-size: 36px;
  inline-size: clamp(16.3125rem, 15.6083rem + 3.0047vw, 18.3125rem);
  text-transform: uppercase;
}

.discet__button::before {
  content: "";
  display: block;
  inline-size: 100%;
  block-size: 100%;
  background-color: var(--head-color);
  transform: scaleX(0);
  transform-origin: left;
  left: 0;
  top: 0;
  position: absolute;
  transition: transform 0.5s ease-in-out;
}

.discet__button:hover::before {
  transform: scaleX(1);
}

.discet__button:focus {
  outline: none;
  box-shadow: 2px 2px 0 var(--head-color);
}

@media (width < 376px) {
  .header__container {
    margin-block: 122px;
  }

  .content {
    margin-block-start: 100px;
  }

  .content__main-button {
    flex-direction: column;
    gap: 10px;
  }

  dialog {
    padding-inline-start: 35px;
    padding-inline-end: 35px;
  }

  .button__casset {
    inline-size: 28px;
    block-size: 28px;
  }
}