/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --inter: 'Inter', sans-serif;
    --ps2p: 'PressStart2P';
    --main-text-weight: 410;
    --header-text-weight: 715;
    --header-width: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
    --head-color: #000;
    --animation-fill-color: #FF0000;
    --contour-color: #FF0000;
    --bck-color: #fff;
    --label-color: 255, 255, 255;
    --striped-gradient: repeating-linear-gradient(to right, #d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px);
}